<div class="search">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput #search />
  </mat-form-field>
</div>

<div class="container">
  <div class="foods" *ngFor="let food of listFoods | searchPipe: search.value">
    <img src="{{ food.image }}" alt="" />
    <p>{{ food.name }}</p>
    <p>{{ food.calories }}</p>
    <button type="text"  (click)='agregarMenu(food.name, food.calories)'>Add</button>
  </div>
  <div class="add">
    <form [formGroup]='formGroup' (ngSubmit)='agregarComida()'>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Calories</mat-label>
        <input matInput formControlName="calories" />
      </mat-form-field>
        <input type="file" formControlName="img" />
        <button color="primary" mat-raised-button type="submit">Enviar</button>
    </form>
  </div>
</div>
