<div class="search">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput #search />
  </mat-form-field>
</div>
<button class="show" mat-raised-button (click)="add()">Añadir</button>
<div class="add" *ngIf='mostrar'>
    <form [formGroup]='formGroup' (ngSubmit)='agregarComida()'>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Calories</mat-label>
        <input matInput formControlName="calories" />
      </mat-form-field>
        <input type="file" formControlName="img" />
        <button color="primary" mat-raised-button color='accent' type="submit">Enviar</button>
    </form>
  </div>

<div class="container">
  <div class="foods" *ngFor="let food of listFoods | searchPipe: search.value">
    <img src="{{ food.image }}" alt="" />
    <div class="text">
      <p><strong>{{ food.name }}</strong></p>
      <p>Calories: {{ food.calories }}</p>
    </div>
    <button  matInput mat-raised-button color='accent' type="text"  (click)='agregarMenu(food.name, food.calories)'>Add</button>
  </div>
</div>

<div class="menu" >
  <h2>Daily Menu</h2>
  <p>Calories: {{maxCalories}}</p>
  <div *ngFor='let m of menu'>
    <p>{{m}}</p>
  </div>
</div>
